extends ../layout/admin

block styles
    meta(name="csrf-token" content=csrfToken)

block contenido
    div.py-10 
        h2.text-center.text-2xl.font-extrabold= pagina

        a(href="/admin/agregarTelefono" class="rounded py bg-indigo-600 hover:bg-indigo-700 text-sm px-10 font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto") Agregar telefono
        button(type="button" class="copia-telefono rounded py ml-2 bg-indigo-600 hover:bg-indigo-700 text-sm px-5 font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto") Crear Copia de seguridad
        button(type="button" class="carga-telefono rounded py ml-2 bg-indigo-600 hover:bg-indigo-700 text-sm px-5 font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto") Carga Masiva
        a(href="/backup/imagenes" class="rounded py ml-2 bg-indigo-600 hover:bg-indigo-700 text-sm px-5 font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto" ) Carga Masiva Imagenes
            
        p(class="hidden errores bg-red-700 text-black font-bold text-center") Error al cargar datos del archivo
            a(class="font-bold text-black cursor-pointer")
                u(class="error-detalles")    detalles
        p(class="hidden correcto bg-green-500 text-black font-bold text-center") Se cargaron los datos correctamente recargue la pagina
        p(class="hidden cargando bg-gray-500 text-black font-bold text-center") Cargando....
        //pre= JSON.stringify(laptops, undefined, 2)

        if telefonos.length 

            div(class="bg-white shadow rounded-lg")
                ul(class="divide-y divide-gray-200")
                    each telefono in telefonos
                        li 
                         div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 gap-4 md:space-y-0")
                            div(class="sm:w-1/4 md:w-1/6 ")
                                img(src=`/uploads/${telefono.imagen}` alt=`Imagen Laptop ${telefono.nombre}` class="w-full block")
                            div(class="sm:w-2/4 md:w-3/6 lg:w-4/6 space-y-3")
                                p(class="block text-sm font-extrabold text-indigo-600 truncate")= telefono.nombre
                                p(class="text-sm text- text-black font-bold")= telefono.sistemaOperativo.nombre 
                                p(class="text-sm text-gray-500 font-bold")= `$${telefono.precio}`
                            div(class="sm:w-1/4 md:w-2/6 lg:w-1/6 flex flex-col 2xl:flex-row gap-2 ")

                                button(type="button" data-telefono-id=`${telefono.id}` class=`cambiar-estado w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer ${telefono.oferta ? 'bg-green-100 text-green-800' : 'bg-yellow-100 text-red-800'}`)= `${telefono.oferta ? 'oferta' : 'sin oferta'}`

                                a(href=`/admin/editarTelefono/${telefono.id}` class="text-center w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer bg-indigo-100 text-indigo-800") Editar
                                form(method="POST" action=`/admin/eliminarTelefono/${telefono.id}`)
                                    input(type="hidden" name="_csrf" value=csrfToken)
                                    input(type="submit" class="w-full px-2 py-2 md:py-1 text-xs leading-5 font-semibold rounded cursor-pointer bg-red-100 text-red-800" value="Eliminar")
                div(class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6")
                    div(class="flex-1 flex justify-between sm:hidden")
                        a(href=`/admin/admimistrarTelefonos?pagina=${paginaActual - 1}` class=`${paginaActual === 1 ? 'pointer-events-none ' : ''}relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`) Anterior
                        a(href=`/admin/admimistrarTelefonos?pagina=${paginaActual + 1}` class=`${paginaActual === paginas ? 'pointer-events-none ' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`) Siguiente
                    div(class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between")
                        p(class="text-sm text-gray-700 gap-2") Mostrando 
                            span(class="font-medium") #{offset + 1} a 
                            span(class="font-medium") #{total < limite + offset ? total : limite + offset } de 
                            span(class="font-medium") #{total} resultados
                    div(class="hidden sm:block")
                        nav(class="relative z-0 inline-flex rounded-md shadow-md")
                            - var n = 1
                                while n <= paginas
                                    a(href=`/admin/admimistrarTelefonos?pagina=${n}` class=`${paginaActual == n ?  'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`) #{n++}

        else
           p.text-center No hay Telefonos
block scripts
    script(src="/js/copiaSeguridad.js") 