extends ./layout/app

block contenido

        h1(class="text-center text-4xl font-extrabold")= pagina
        section(class='py-5')
            if resultados.length
                //-pre= JSON.stringify(resultados, undefined, 2)
                div(class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-14")
                    each producto in resultados
                            div(class=" bg-white shadow rounded-lg")
                                img(class=" h-72 w-full" src=`/uploads/${producto.imagen}` alt=`${producto.imagen}`)
                                div(class="p-5 space-y-3")
                                    h3(class="text-2xl font-bold")= producto.nombre
                                    p(class="text-sm text-gray-600") Procesador: 
                                        span(class="text-gray-800 font-bold")= producto.procesador
                                    p(class="text-sm text-gray-600") Memoria Ram: 
                                        span(class="text-gray-800 font-bold")= producto.memoriaRam
                                    p(class="text-sm text-gray-600") Almacenamiento: 
                                        span(class="text-gray-800 font-bold")= producto.almacenamiento
                                    p(class="text-sm text-gray-600") Precio: 
                                        if producto.oferta
                                            del(class="text-gray-800 font-bold")= `$${producto.precio} `
                                            span(class="text-gray-800 font-bold")= ` / $${(producto.precio - (producto.precio / 100 )* producto.descuento)}`
                                        else
                                            span(class="text-gray-800 font-bold")= `$${producto.precio}`
                                    p(class="text-sm text-gray-600") Tienda: 
                                        span(class="text-gray-800 font-bold")= producto.tienda.nombre 
                                div(class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6")
                //- div(class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6")
                //-     div(class="flex-1 flex justify-between sm:hidden")
                //-         a(href=`/favoritos?pagina=${paginaActual - 1}` class=`${paginaActual === 1 ? 'pointer-events-none ' : ''}relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`) Anterior
                //-         a(href=`/favoritos?pagina=${paginaActual + 1}` class=`${paginaActual === paginas ? 'pointer-events-none ' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`) Siguiente
                //-     div(class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between")
                //-         p(class="text-sm text-gray-700 gap-2") Mostrando 
                //-             span(class="font-medium") #{offset + 1} a 
                //-             span(class="font-medium") #{total < limite + offset ? total : limite + offset } de 
                //-             span(class="font-medium") #{total} resultados
                //-     div(class="hidden sm:block")
                //-         if paginas < 15    
                //-             nav(class="relative z-0 inline-flex rounded-md shadow-md")
                //-                 - var n = 1
                //-                     while n <= paginas
                //-                         a(href=`/favoritos?pagina=${n}` class=`${paginaActual == n ?  'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`) #{n++}
                //-         else
                //-             nav(class="relative z-0 inline-flex rounded-md shadow-md")
                //-                 - var n = paginaActual < 3 ? 1 : paginaActual 
                //-                     a(href=`/favoritos?pagina=${paginaActual - 1}` class=`${paginaActual === 1 ? 'pointer-events-none ' : ''}relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`) Anterior
                //-                       if paginaActual <  (paginas - 2) 
                //-                             a(href=`/favoritos?pagina=${n}` class=`${paginaActual == n  ? 'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`)= `${n++}`
                //-                       if paginaActual <  (paginas - 3)  
                //-                             a(href=`/favoritos?pagina=${n}` class=`${paginaActual == n  ? 'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`)= `${n++}`
                //-                             a(href=`/favoritos?pagina=${n}` class=`${paginaActual == n  ? 'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`)= `${n++}`                                    
                //-                             a(class=`bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium`) ...
                //-                     a(href=`/favoritos?pagina=${paginas - 2}` class=`${paginaActual == (paginas - 2) ?  'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`) #{paginas - 2}
                //-                     a(href=`/favoritos?pagina=${paginas - 1}` class=`${paginaActual == (paginas - 1) ?  'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`) #{paginas - 1}
                //-                     a(href=`/favoritos?pagina=${paginas}` class=`${paginaActual == paginas ?  'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`) #{paginas}       
            else
                p(class="text-center text-gray-800 text-sm py-10") No hay Resultados
