extends ./layout/app

block contenido
    div.py-10
        h2.text-center.text-2xl.font-extrabold= pagina 

        //-pre= JSON.stringify(promociones, undefined, 2)
        if promociones.length
            div(class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-14")
                each producto in promociones
                    div(class="bg-white shadow rounded-lg")
                        img(class=" h-72 w-full" src=`/uploads/${producto.imagen}` alt=`${producto.imagen}`)
                        div(class="p-5 space-y-3")
                            h3(class="text-2xl font-bold")= producto.nombre
                            p(class="text-sm text-gray-600") Procesador: 
                                span(class="text-gray-800 font-bold")= producto.procesador
                            p(class="text-sm text-gray-600") Memoria Ram: 
                                span(class="text-gray-800 font-bold")= producto.memoriaRam
                            p(class="text-sm text-gray-600") Almacenamiento: 
                                span(class="text-gray-800 font-bold")= producto.almacenamiento
                            p(class="text-sm text-gray-600") Sistema Operativo: 
                                span(class="text-gray-800 font-bold")= producto.sistemaOperativo.nombre 
                            p(class="text-sm text-gray-600") Precio: 
                              if producto.oferta
                                del(class="text-gray-800 font-bold")= `$${producto.precio} `
                                span(class="text-gray-800 font-bold")= ` / $${(producto.precio - (producto.precio / 100 )* producto.descuento)}`
                                span(class="text-red-800")=` ${producto.descuento}% de descuento`
                              else
                                span(class="text-gray-800 font-bold")= `$${producto.precio}`
                            p(class="text-sm text-gray-600") Tienda: 
                                span(class="text-gray-800 font-bold")= producto.tienda.nombre
                            //-button(type="button" data-laptop-id=`${producto.id}` class="agregar-comparacion-laptop bg-indigo-600 w-full text-center block text-white p-2 uppercase rounded" name="agregar-comparacion") Agregar a la comparacion

        else 
            p.text-center No Hay Promociones
block scripts
    script(src="/js/navegacion.js")