extends ../layout/app

block styles
    meta(name="csrf-token" content=csrfToken)

block contenido
    div.py-10
        h2.text-center.text-2xl.font-extrabold= pagina
        button(type="button" class="otra-comparacion-tablet rounded py ml-2 bg-indigo-600 hover:bg-indigo-700 text-sm px-5 font-bold text-center text-white uppercase my-5 inline-block w-full sm:w-auto") Realizar otra comparacion
        div(class="grid grid-cols-1 lg:grid-cols-2 gap-5 mt-8")
             each producto in tablets
                    div(class="bg-white shadow rounded-lg border border-black")
                        img(class=" h-72 w-full" src=`/uploads/${producto.imagen}` alt=`${producto.imagen}`)
                        div(class="p-5 space-y-3")
                            h3(class="text-2xl font-bold")= producto.nombre
                            p(class="text-sm text-gray-600") Precio: 
                                if producto.oferta
                                    del(class="text-gray-800 font-bold")= `$${producto.precio} `
                                    span(class="text-gray-800 font-bold")= ` / $${(producto.precio - (producto.precio / 100 )* producto.descuento)}`
                                else
                                    span(class="text-gray-800 font-bold")= `$${producto.precio}`
                                p(class="text-sm text-gray-600") Tienda: 
                                    span(class="text-gray-800 font-bold")= producto.tienda.nombre
                            button(type="button" data-producto-id=`${producto.id}` class="favorito bg-yellow-600 w-full text-center block text-white p-2 uppercase rounded" name="favorito") Añadir a favoritos  
        h2.text-center.text-2xl.font-extrabold.mt-5 Resultados            
        div(class="border border-t-slate-950 grid grid-cols-1 lg:grid-cols-2 gap-5 mt-8")
            - var n = 0
                include ../templates/resultadoTablet
            - var n = 1
                include ../templates/resultadoTablet
            - var n = 2
                include ../templates/resultadoTablet
        include ../templates/modal
block scripts
    script(src="/js/alpinejs.js")
    script(src="/js/navegacion.js") 
    script(src="/js/activeModal.js")
    script(src="/js/añadirfavorito.js")